params {

  // Required
  sample_sheet = "sample-sheet.csv"
  pool = .5
  validation = .25
  test = .25

  // optional
  init_batch_size = 10
  batch_size = 10
  epochs = 3

  inputs = "inputs"
  outputs = "outputs"

  split_replicates = 2
  init_replicates = 2
  // Test all by default
  //acquisitions = [
  //  "random",
  //  "tanimoto",
  //  "variance",
  //  "doubtscore",
  //  "information sensitivity",
  //]
  cycles = 3  // active learning cycles
}
