params {

  // Required
  sample_sheet = "sample-sheet.csv"
  pool = .8
  validation = .1
  test = .1

  // optional
  iinit_batch_size = 100
  batch_size = 100
  epochs = 2000

  inputs = "inputs"
  outputs = "outputs"

  split_replicates = 3
  init_replicates = 3
  acquisitions = [
    "random",
    "tanimoto",
    "variance",
    "doubtscore",
    "information sensitivity",
  ]
  cycles = 10  // active learning cycles
}
