params {

  // Required
  sample_sheet = "sample-sheet.csv"
  pool = .3
  validation = .35
  test = .35

  // optional
  init_batch_size = 100
  batch_size = 100
  epochs = 3

  inputs = "inputs"
  outputs = "outputs"

  split_replicates = 2
  init_replicates = 2
  acquisitions = [
    "random",
    "tanimoto",
    "variance",
    "doubtscore",
    "information sensitivity",
  ]
  cycles = 3  // active learning cycles
}
